APP_NAME="Doctor Portfolio API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000


APP_LOCALE=en
APP_FALLBACK_LOCALE=en


DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=doctor_portfolio
DB_USERNAME=root
DB_PASSWORD=


SANCTUM_STATEFUL_DOMAINS=localhost:5173


FILESYSTEM_DISK=public